rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regras bem abertas - apenas verificar se está autenticado
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
} 